<template>
    <footer>
        EShop - Nicolas Durocher - 2021
    </footer>
</template>

<script>
    export default {
        name: 'FooterApp',
        components: {},
        data(){
            return { }
        },
        methods: { },
        mounted(){ }
    }
</script>
