<template>
  <div class="home">
    <div class="overlay" @click.stop="closeForm" v-if="isOpen"></div>

    <button class="btn-create" @click="toggleFormPost">Ajouter un article</button>

    <FormPost v-if="isOpen" @close="closeForm"/>

    <ListPost :postCollection="postCollection" />

  </div>
</template>

<script>
  import ListPost from '../components/ListPost';
  import FormPost from '../components/FormPost';
  import { mapGetters, mapActions } from "vuex";

  export default {
    name: "Home",
    components: {
      ListPost,
      FormPost
    },
    data(){
      return {
        postCollection: undefined,
        isOpen: false,
      }
    },
    methods:{
      toggleFormPost(){
        this.isOpen = true;
      },
      closeForm(){
        this.isOpen = false;
      },
    },

    created(){
      // Fetch post from the API
      this.$store.dispatch('fetchPostList', this.postCollection)
      
      this.$store.subscribe((mutation) => {
        if( mutation.type === "SET_POSTS" ){ 
          this.postCollection = mutation.payload.data 
        }
        this.isOpen = false;
      })
    }
  };
</script>

<style lang="scss">
  .home{
    min-height: 80vh;
    width: 100%;

    .btn-create{
      margin: 30px auto;
      display: block;
    }
    .overlay{
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      position: fixed;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }
</style>