<template>
  <div class="login">
    <FormLogin />
    <router-link to="/register">Pas de compte, inscrivez-vous</router-link>
  </div>
</template>

<script>
  import FormLogin from '../components/FormLogin'
  export default {
    name: "Login",
    components: {
      FormLogin
    },
    data(){
      return {}
    },
    methods:{},

    created(){
      // Subscribe to store mutations
      this.$store.subscribe((mutations) => {
        // Redirect user when connected
        if( mutations.type === "USER" ){ this.$router.push('/').catch( () => {} ) }
      })
    },
    mounted(){},
    destroyed(){}
  };
</script>

<style lang="scss">
  .login{
    min-height: 80vh;

    form{
      padding-top: 10vh;
    }

    a {
      text-align: center;
      display: block;
      margin-top: 5vh;
      text-decoration: underline;
    }
  }
</style>