<template>
  <div class="detail-post">
    <div class="post" v-if="post">
      <h1>{{post.headline}}</h1>
      <p>{{post.body}}</p>

      <div class="comment-section">

        <ListComment :commentList="commentList"/>

        <FormComment />

      </div>
    </div>
  </div>
</template>

<script>
import FormComment from '../components/FormComment.vue'
import ListComment from '../components/ListComment.vue';
  export default {
    name: "Post",
    components: {FormComment, ListComment},
    data(){
      return {
        post: undefined,
        commentList: undefined,
      }
    },
    methods: {

    },
    
    created(){
      this.$store.dispatch('fetchSinglePost', this.$route.params.id, this.post);
      this.$store.dispatch('fetchCommentList', this.commentList)

      this.$store.subscribe((mutations) => {
        if( mutations.type === "SET_POST" ){ 
          this.post = mutations.payload.data 
        }
        if( mutations.type === "SET_COMMENTS" ){ 
          this.commentList = mutations.payload.data 
        }
      })
    },
    mounted(){},
    destroyed(){}
  };
</script>

<style lang="scss">
  .detail-post {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 80vh;

    .post{
      text-align: center;

      h1{
        font-size: 36px;
        margin-top: 5vh;
      }
      p{
        font-size: 20px;
      }

      .comment-section {
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: 800px){
          flex-direction: column-reverse;
          align-items: center;
        }
      }
    }
  }
</style>