<template>
  <div class="register">
     <form action="" class="form" @submit.prevent="handleSubmit">

       <h2>Inscription</h2>

       <div class="form-group">
          <label for="firstName">Prénom</label>
          <input type="text" v-model="user.firstName" id="firstName" name="firstName" class="form-control" :class="{ 'is-invalid': submitted && $v.user.firstName.$error }" />
            <div v-if="submitted && !$v.user.firstName.required" class="invalid-feedback">Veuillez saisir un prénom</div>
        </div>
        <div class="form-group">
            <label for="lastName">Nom</label>
            <input type="text" v-model="user.lastName" id="lastName" name="lastName" class="form-control" :class="{ 'is-invalid': submitted && $v.user.lastName.$error }" />
            <div v-if="submitted && !$v.user.lastName.required" class="invalid-feedback">Veuillez saisir un nom</div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" v-model="user.email" id="email" name="email" class="form-control" :class="{ 'is-invalid': submitted && $v.user.email.$error }" />
            <div v-if="submitted && $v.user.email.$error" class="invalid-feedback">
                <span v-if="!$v.user.email.required">Veuillez saisir une adresse email</span>
                <span v-if="!$v.user.email.email">L'adresse email est invalide.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" v-model="user.password" id="password" name="password" class="form-control" :class="{ 'is-invalid': submitted && $v.user.password.$error }" />
            <div v-if="submitted && $v.user.password.$error" class="invalid-feedback">
                <span v-if="!$v.user.password.required">Le mot de passe est obligatoire.</span>
                <span v-if="!$v.user.password.strongPassword">
                  Le mot de passe doit posséder une lettre, un chiffre, un caractère spécial et doit contenir au moins 5 caractères.
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirmation de mot de passe</label>
            <input type="password" v-model="user.confirmPassword" id="confirmPassword" name="confirmPassword" class="form-control" :class="{ 'is-invalid': submitted && $v.user.confirmPassword.$error }" />
            <div v-if="submitted && $v.user.confirmPassword.$error" class="invalid-feedback">
                <span v-if="!$v.user.confirmPassword.required">Veuillez confirmer le mot de passe</span>
                <span v-else-if="!$v.user.confirmPassword.sameAsPassword">Les mots de passe doivent être identiques</span>
            </div>
        </div>
        
        <button type="submit">S'inscrire</button>
    </form>
  </div>
</template>


<script>
  import { required, email, sameAs, minLength } from 'vuelidate/lib/validators';

  export default {
    name: "Register",
    data(){
      return {
         user: {
          firstName: "",
          lastName: "",
          email: "",
          password: "",
          confirmPassword: ""
        },
        submitted: false
      }
    },
    validations: {
      user: {
        firstName: { required, minLength: minLength(2) },
        lastName: { required, minLength: minLength(2) },
        email: { required, email },
        password: { 
          required, 
          strongPassword(password){
            return (
              /[a-z]/.test(password) && 
              /[0-9]/.test(password) &&
              /\W|_/.test(password) &&
              password.length >= 5
            );
          } 
        },
        confirmPassword: { required, sameAsPassword: sameAs('password') }
      }
    },
    methods:{
      handleSubmit(){
        this.submitted = true;

        this.$v.$touch();
        if (this.$v.$invalid) {
            return;
        }

        this.$store.dispatch('registerUser', { 
          givenName: this.user.firstName,
          familyName: this.user.lastName,
          email: this.user.email, 
          password: this.user.password 
        })
      }
    },
    created(){
      this.$store.subscribe((mutations) => {
        if( mutations.type === "USER" ){ this.$router.push('/login').catch( () => {} ) }
      })
    },
  };
</script>

<style lang="scss">

.register{
  min-height: 80vh;
 

  form{
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-top: 20px;
    }
    .form-group{
      width: 100%;
    }
    input, label{
      width: 90%;
      display: block;
      margin: 0 auto;
    }
    .invalid-feedback{
      color: red;
      font-size: 12px;
    }
  }
}
</style>