<template>
  <form action="" v-on:submit="getFormSubmit($event)">
    <div class="close" @click="closeForm">&#x2715;</div>
    <label for="text">Titre</label>
    <input type="text" name="headline" required minlength="5" maxlength="50" v-model="headline">

    <label for="text">Description</label>
    <input type="text" name="body" required minlength="5" maxlength="150" v-model="body">

    <button type="submit">Envoyer</button>
  </form>
</template>

<script>
/* import mapActions from 'vuex' */
  export default {
    name: "FormPost",
    components: {},

    data(){
      return {
       headline: '',
       body: ''
      }
    },

    methods:{
      getFormSubmit(event){
        event.preventDefault();

        this.$store.dispatch('addPost', { 
          headline: this.headline, 
          body: this.body 
        })
        .then(()=>{
          this.$emit('close')
          this.$store.dispatch('fetchPostList')
        })
        .catch(() =>{
          this.$router.push('/login')
        })
      },
      closeForm(){
        this.$emit('close')
      }
    },

    created(){},
    mounted(){},
    destroyed(){}
  };
</script>

<style lang="scss" scoped>
  form{
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    .close{
      cursor: pointer;
      width: 20px;
      display: inline-block;
      float: right;
    }
  }
</style>