<template>
  <form action="" v-on:submit="getFormSubmit($event)">
    <h1>Connexion</h1>

    <label for="email">Email</label>
    <input type="email" name="email" required minlength="5" v-model="loginEmail">

    <label for="password">Mot de passe</label>
    <input type="password" name="password" required minlength="5" v-model="loginPassword">

    <button type="submit">Connexion</button>
  </form>
</template>

<script>
/* import mapActions from 'vuex' */
  export default {
    name: "FormLogin",
    components: {},

    data(){
      return {
       loginEmail: 'admin@mail.com',
       loginPassword: 'admin75;'
      }
    },

    methods:{
      // Method to log user with store action
      getFormSubmit(event){
        event.preventDefault();

        this.$store.dispatch('logUser', { 
          email: this.loginEmail, 
          password: this.loginPassword 
        })
      }
    }
  };
</script>

<style lang="scss" scoped>

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1{
      text-align: center;
    }
  }

</style>
