<template>
  <form action="" v-on:submit="getFormSubmit($event)">
    <p>Ecrire un commentaire</p>

    <label for="text">Titre</label>
    <input type="text" name="title" required minlength="5" maxlength="50" v-model="title">

    <label for="text">Description</label>
    <input type="text" name="content" required minlength="5" maxlength="150" v-model="content">

    <button type="submit">Envoyer</button>
  </form>
</template>

<script>
/* import mapActions from 'vuex' */
  export default {
    name: "FormPost",
    components: {},

    data(){
      return {
        title: '',
        content: ''
      }
    },

    methods:{
      getFormSubmit(event){
        event.preventDefault();

        this.$store.dispatch('addComment', { 
          title: this.title, 
          content: this.content 
        })
        .then(()=>{
          this.title = "";
          this.content = "";
          this.$store.dispatch('fetchCommentList')
        })
      },
    },

    created(){},
    mounted(){},
    destroyed(){}
  };
</script>

<style lang="scss">
  form{
    width: 45%;
    max-width: 700px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    
    .form-group{
      width: 100%;
    }
    input, label{
      width: 90%;
      display: block;
      margin: 0 auto;
    }

    @media screen and (max-width: 800px){
      width: 90%;
    }

    .close{
      cursor: pointer;
      width: 20px;
      display: inline-block;
      float: right;
    }
  }
</style>