<template>
  <div class="commentList" v-if="commentList">
    <p>Liste des commentaires</p>

    <p class="empty" v-if="commentList.length <= 0">Pas de commentaire pour le moment</p>

    <div v-for="item of commentList" :key="item._id" class="comment">

      <div class="comment__header">
          <p class="user">{{item.author.givenName}}</p>
          <div class="like" title="J'aime ce commentaire"><i @click="likeComment($event, item)" class="fas fa-heart"></i></div>
      </div>
     
      <p class="title">{{item.title}}</p>
      <p>{{item.content}}</p>
      <div class="delete" title="Supprimer ce commentaire" @click="deleteComment(item)">&#128465;</div>


    </div>
  </div>
</template>

<script>
  export default {
    name: "ListComment",
    components: {},
    props: ['commentList'],
    
    data(){
      return {

      }
    },

    methods:{
      likeComment(e, comment){
        e.target.parentElement.style.color = "red";
      },
      deleteComment(comment){
        this.$store.dispatch('deleteComment', comment._id);
        this.$toasted.show( `Commentaire supprimé`, { 
          duration: "3000",
          className: "toast-element"
        })      }
    },
    mounted(){},
    destroyed(){}
  };
</script>

<style lang="scss">
  .commentList{
    width: 45%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 800px){
      width: 90%;
    }

    .empty{
      font-size: 12px !important;
    }

    .comment {
      width:90%;
      margin: 10px 0;
      border: 2px solid;
      display: flex;
      flex-direction: column;
      justify-content: center;
      word-break: break-all;
      align-items: center;
      text-align: center;
      border: 2px solid black;
      padding: 5px;
      box-sizing: border-box;

      @media screen and (min-width: 800px){
        width: 70%;
      }
      .delete {
        color: red;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
      }

      &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .user{
          width: 70%;
          text-align: left;
          font-size: 12px;
          font-weight: bold;
        }
      }

      .like{
        width: 30px;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        &:hover{
          color: red;
        }
        i{
          font-size: 20px;
        }
      }

      p{ 
        &.title{
          font-weight: bold;
        }
        margin: 0;
      }
    }
  }
</style>
