<template>
  <div class="postList">
    <div v-for="item of postCollection" :id="item._id" :key="item._id" class="article">
      <p class="title">{{item.headline}}</p>

      <router-link :to="'/post/'+ item._id" class="button">Voir le produit</router-link>
      
      <div class="like">
        <i  title="J'aime cet article" @click="likePost($event, item)" class="fas fa-heart">
        </i>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "ListPost",
    components: {},

    // Bind parent component data with properties
    props: ['postCollection'],
    
    data(){
      return {}
    },

    methods:{
      likePost(e, article){
        e.target.parentElement.style.color = "red";
        this.$toasted.show( `J'aime ${article.headline}`, { 
          duration: "3000",
          className: "toast-element"
        })
      }
        // Array.prototype.forEach.call(articles, (item)=>{
        //   console.log(item.id);
        //   let article = item.id.includes(id);
        //   console.log(article);
        // })
    },
    
    created(){},
    mounted(){},
    destroyed(){}
  };
</script>

<style lang="scss">
  .postList{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .article {
      width:300px;
      margin: 10px 0;
      height: 300px;
      border: 2px solid;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .like{
        border-radius: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 2px solid black;
        margin-top: 30px;
        font-size: 20px;
        cursor: pointer;

        &:hover{
          border: 2px solid red;
          color: red;
        }

        .isLiked{
          color: red;
          border: 2px solid red;
        }
      }
    }
  }
</style>
