<template>
  <div id="app">
    <HeaderApp/>
          
      <router-view :key="$route.fullPath"></router-view>
      
    <FooterApp/>
  </div>
</template>

<script>
  import HeaderApp from './statics/HeaderApp'
  import FooterApp from './statics/FooterApp'

  export default {
    name: 'App',
    components: {
      HeaderApp,
      FooterApp
    },
    data(){
      return{}
    },
    created(){
      this.$store.dispatch('checkUser')
    }
  }
</script>
<style lang="scss">

  .toast-element{
      font-size: 18px !important;
      font-weight: bold !important;
      background-color: black !important;
  }
  form{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
  }
  main{
    min-height: 80vh;
  }
</style>